<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="car_insurance"
         connectionString="Data Source=WIN-Q3HBJ1BJDBQ\SQLEXPRESS;Initial Catalog=car_insurance;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SeniorAgentEmail" value="senioragent@autoin.local" />
    <add key="SeniorAgentPassword" value="Senior123!" />
    <add key="AdminEmail" value="admin@autoin.local" />
    <add key="AdminPassword" value="Admin123!" />
    <add key="HeadEmail" value="head@autoin.local" />
    <add key="HeadPassword" value="Head123!" />
    <add key="ManagerEmail" value="manager@autoin.local" />
    <add key="ManagerPassword" value="Manager123!" />
    <add key="InsuranceAgentEmail" value="agent@autoin.local" />
    <add key="InsuranceAgentPassword" value="Agent123!" />
    <add key="AdjusterEmail" value="adjuster@autoin.local" />
    <add key="AdjusterPassword" value="Adjuster123!" />
  </appSettings>
</configuration>
